<html>
<body>
<h1>
    Edit Game
</h1>

{{#error}}
There was an error with your release year.
{{/error}}

{{#game}}
    Title: {{name}}<br>
    Genre: {{genre}}<br>
    Platform: {{platform}}<br>
    Release Year: {{releaseYear}}<br>
{{/game}}

<br>
<form action="/edit-game" method="post">
    <input type="text" placeholder="Enter new game name" name="name"/>
    <input type="text" placeholder="Enter new genre" name="genre"/>
    <input type="text" placeholder="Enter new platform" name="platform"/>
    <input type="text" placeholder="Enter new release year" name="releaseYear"/>
    <input type="hidden" name="id" value="{{game.id}}">
    <button type="submit">Submit</button>
</form>

</body>
</html>